body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    background-color: white;
}

.cabecalho {
    background-color: rgb(255, 209, 241);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}


.texto {
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.imgcentro {
    width: 400px;
    /* Define uma largura fixa (pode ser ajustada) */
    height: 400px;
    /* Define uma altura fixa e igual à largura */
    border-radius: 50%;
    /* Transforma o elemento em um círculo/oval */
    object-fit: cover;
    /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    display: block;
    /* Garante que a imagem se comporte como um bloco para centralização básica se necessário */
    border: 3px solid #ffaff2;
    /* Borda opcional */
    margin: 0 auto;
}

.imgprincipal {
    width: 300px;
    /* Define uma largura fixa (pode ser ajustada) */
    height: 300px;
    /* Define uma altura fixa e igual à largura */
    border-radius: 50%;
    /* Transforma o elemento em um círculo/oval */
    object-fit: cover;
    /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    border: 3px solid #ffd4fd;
    /* Borda opcional */
    display: inline-block;
    margin-right: 170px;
    /* Alinha os itens (imagens) lado a lado */
    gap: 30px;
    /* Adiciona um espaço entre as imagens */
}

li {
    display: inline-block;
}

li a {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}


button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10;
    margin-top: 15px;
    display: inline-block;
    margin-right: 280px;
    color: #fff;
    background-color: #ffcfe7;
    border-color: #ff00dd;
    width: 10%;
    clear: both;
}

@media(max-width:430px) {
    body {
        font-size: 10px;
    }

    .imgcentro {
        width: 100%;
    /* Define uma largura fixa (pode ser ajustada) */
    height: auto;
    /* Define uma altura fixa e igual à largura */
    border-radius: 100%;
    /* Transforma o elemento em um círculo/oval */
    object-fit: cover;
    /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    display: block;
    /* Garante que a imagem se comporte como um bloco para centralização básica se necessário */
    border: 3px solid #ffaff2;
    /* Borda opcional */
    margin: 0 auto;
    }


    a {
        font-size: 25px;
        color: #000000;
        text-decoration: none;
        text-align: center;
    }

    .texto {
    text-align: center;
    font-size: 10px;
    padding: 50px;
    }

}